// @import '~node_modules/modern-normalize/modern-normalize.css';

body {
  background-image: url(../img/bg.jpg);
  font-family: "Montserrat";
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  @media screen and (max-width: 768px) {
    width: 610px;
  }
  @media screen and (max-width: 480px) {
    width: 100%;
  }
}