<header class="header">
  <div class="header-logo-container">
    <picture>
      <source srcset="./img/logo.png" media="(min-width: 1400px)" />
      <source
        srcset="./img/tablet-logo.png"
        media="(min-width: 768px) and (max-width: 1399px)"
      />
      <source srcset="./img/mobile-logo.png" media="(max-width: 767px)" />
      <img src="./img/logo.png" alt="Adaptive Image" />
    </picture>
  </div>
  <h1 class="header-title">Find best events <br />around the world</h1>
</header>
