<div class="search-wrap">
  <form>
    <input
      class="key-word search"
      type="text"
      placeholder="Start searching"
      id="key-word"
    />
    <select class="countries search" name="countries" id="countries">
      <option value="" style="background-color: rgb(100, 92, 92); backdrop-filter: blur(20px); opacity: 0.2;">
        Choose a Country
      </option>
      <option value="US" style="background-color: rgb(100, 92, 92); backdrop-filter: blur(20px); opacity: 0.2;">United States</option>
      <option value="CA" style="background-color: rgb(100, 92, 92); backdrop-filter: blur(20px); opacity: 0.2;">Canada</option>
      <option value="MX" style="background-color: rgb(100, 92, 92); backdrop-filter: blur(20px); opacity: 0.2;">Mexico</option>
      <option value="AU" style="background-color: rgb(100, 92, 92); backdrop-filter: blur(20px); opacity: 0.2;">Australia</option>
      <option value="NZ" style="background-color: rgb(100, 92, 92); backdrop-filter: blur(20px); opacity: 0.2;">New Zealand</option>
      <option value="IE" style="background-color: rgb(100, 92, 92); backdrop-filter: blur(20px); opacity: 0.2;">Ireland</option>
      <option value="GB" style="background-color: rgb(100, 92, 92); backdrop-filter: blur(20px); opacity: 0.2;">Great Britain</option>
      <option value="AE" style="background-color: rgb(100, 92, 92); backdrop-filter: blur(20px); opacity: 0.2;">United Arab Emirates</option>
      <option value="AT" style="background-color: rgb(100, 92, 92); backdrop-filter: blur(20px); opacity: 0.2;">Austria</option>
      <option value="BE" style="background-color: rgb(100, 92, 92); backdrop-filter: blur(20px); opacity: 0.2;">Belgium</option>
      <option value="DE" style="background-color: rgb(100, 92, 92); backdrop-filter: blur(20px); opacity: 0.2;">Germany</option>
      <option value="DK" style="background-color: rgb(100, 92, 92); backdrop-filter: blur(20px); opacity: 0.2;">Denmark</option>
      <option value="ES" style="background-color: rgb(100, 92, 92); backdrop-filter: blur(20px); opacity: 0.2;">Spain</option>
      <option value="FI" style="background-color: rgb(100, 92, 92); backdrop-filter: blur(20px); opacity: 0.2;">Finland</option>
      <option value="NL" style="background-color: rgb(100, 92, 92); backdrop-filter: blur(20px); opacity: 0.2;">Netherlands</option>
      <option value="NO" style="background-color: rgb(100, 92, 92); backdrop-filter: blur(20px); opacity: 0.2;">Norway</option>
      <option value="PL" style="background-color: rgb(100, 92, 92); backdrop-filter: blur(20px); opacity: 0.2;">Poland</option>
      <option value="SE" style="background-color: rgb(100, 92, 92); backdrop-filter: blur(20px); opacity: 0.2;">Sweden</option>
      <option value="CH" style="background-color: rgb(100, 92, 92); backdrop-filter: blur(20px); opacity: 0.2;">Switzerland</option>
      <option value="CZ" style="background-color: rgb(100, 92, 92); backdrop-filter: blur(20px); opacity: 0.2;">Czech Republic</option>
      <option value="IT" style="background-color: rgb(100, 92, 92); backdrop-filter: blur(20px); opacity: 0.2;">Italy</option>
      <option value="FR" style="background-color: rgb(100, 92, 92); backdrop-filter: blur(20px); opacity: 0.2;">France</option>
      <option value="ZA" style="background-color: rgb(100, 92, 92); backdrop-filter: blur(20px); opacity: 0.2;">South Africa</option>
      <option value="TR" style="background-color: rgb(100, 92, 92); backdrop-filter: blur(20px); opacity: 0.2;">Turkey</option>
      <option value="BR" style="background-color: rgb(100, 92, 92); backdrop-filter: blur(20px); opacity: 0.2;">Brazil</option>
    </select>
  </form>
</div>
